<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>編集</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1>Edit</h1>
		<a class="btn btn-default" href="/memo">戻る</a>
		<form method="post" th:action="@{/memo/edit/complete}">
			<input type="text" th:field="${product.id}" readonly/>
			<input type="text" th:field="${product.name}" />
			<input type="text" th:field="${product.date}" />
			<input type="text" th:field="${product.time}" />
			<input type="text" th:field="${product.comment}" />
			<input type="text" th:field="${product.category}" />
			<input type="text" th:field="${product.favorite}" />
			<input type="submit" value="更新" />
		</form>
	</div>
</body>
</html>